.hed {
    padding-bottom: 25px;
}

.section{
    padding-bottom: 15px;
}

.row {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;

    border: solid 1px;
    border-color: rgb(0, 0, 0);
    background-color: #F8F9FA;
}

